.media-grid-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
    border: 5px solid #E84855;
    border-radius: 10px;
    background-color: #BAD6D6;
    color: #000004;
    padding-bottom: 10px;
}

.media-grid-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #E84855;
    margin: 10px;
    color: #E84855;
}

.media-grid-item {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #E84855;
    margin: 5px;
}